.vscode
.clangd
.idea
compile_commands.json
out
*.out
core.*

core
*.pyc

.cache

node_modules
.code/cd-*
.code/NOSLATED-*
.code/bundles
.code/caches
.code/logs
.code/run
.code/*.log
.code/logs*
.nyc_output
coverage

build

config/local.js
native/src/proto
native/addon
src/starter/generated.js
src/proto/*
src/lib/json/inspector_protocol.json

.turf/overlay/*
!.turf/overlay/.gitkeep
.turf/runtime/*/*
!.turf/runtime/*/.gitkeep
.turf/sandbox/*
!.turf/sandbox/.gitkeep
test/.tmp

bin/node
bin/aworker
bin/aworker_g
.vscode

package-lock.json

docs
